body{
  background-image: url("imbg.webp");
  background-size: cover;
  opacity: 1;
  padding: 10%;
}


img {
  display: inline-block;
  box-shadow: 10px 10px #d89969;
  border-radius: 60%;
  margin-left: 9%;
  opacity: 0.5;
  padding-top: 20px;
  width: 20% ;
  height:230px;

}

img:hover {
  opacity: 1;
}
h1 {
  padding-left: 20%;
  display: inline-block;
  border: none;
  width: 30%;
  height: 50px;
  background-color: none;
  padding: 10px;
  box-sizing: border-box;
  margin-left: 2%;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(255, 255, 255);
  text-shadow: 2px black;

}

p {
  padding-left: 20%;
  display: inline-block;
  border: none;
  width: 30%;
  height: 50px;
  background-color: none;
  padding: 10px;
  box-sizing: border-box;
  margin: 15px;
  color: rgb(255, 255, 255);
  font-size: 20px;

}
  