<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Payroll</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"></script>
    <script>

        var app = angular.module("myApp", []);
        app.controller("EmployeePayrollCtrl", function($scope) {
            $scope.s = 0;
            $scope.a = 0;
            $scope.s = 0;
            $scope.sdate = null;
            
            $scope.calculate = function() {
                $scope.gs = parseFloat($scope.bs) + parseFloat($scope.hra) + parseFloat($scope.da);
                if ($scope.gs > 80000) {s;
                } else if ($scope.gs > 40000) {
                    $scope.ta = 0.1 * $scope.gs;
                    $scope.ta = 0.2 * $scope.s;
                } else if ($scope.gs > 60000) {
                    $scope.ta = 0.15 * $scope.g
                } else if ($scope.gs > 20000) {
                    $scope.ta = 0.05 * $scope.gs;
                } else {
                    $scope.ta = 0.5;
                }
                $scope.s = $scope.gs - $scope.a;
            }
        });
    </script>
</head>
<body ng-app="myApp" ng-controller="EmployeePayrollCtrl">
    <div class="container">

        <div class="contbg">
            <div class="formcont">
                <label for="name">Employee Name:</label><br>
                <input type="text" ng-model="empname" id="name" placeholder="Name" ><br><br>
                <label for="empid">Emp ID:</label><br>
                <input type="text" ng-model="empid" placeholder="Enter your ID" id="empid" autocomplete="off"><br><br>
                <label for="date">Salary Date:</label><br>
                <input type="date" ng-model="sdate" placeholder="Enter your basic salary" id="date"><br><br>
                <label for="salary">Basic Salary:</label><br>
                <input type="text" ng-model="bs" placeholder="Enter your salary" id="salary" autocomplete="off"><br><br>
                <label for="hra">House Rent Allowance (HRA):</label><br>
                <input type="text" ng-model="hra" id="hra" placeholder="Enter HRA" autocomplete="off"><br><br>
                <label for="da">Dearness Allowance:</label><br>
                <input type="text" ng-model="da" id="da" placeholder="Enter Your DA" autocomplete="off"><br><br>
                <div class="btn">
                    <input type="button" value="Calculate" id="btn" ng-click="calculate()"><br>
                </div>
            </div>
            <div>
                <h2>Calculated Salary</h2>
                <p>Employee Name: {{empname}}</p>
                <p>Emp ID: {{empid}}</p>
                <p>Salary Date: {{sdate | date:'dd/MM/yyyy'}}</p>
                <p>Gross Salary:Rs.{{gs | number}}</p>
                <p>Net Salary:Rs.{{s | number}}</p>
                <p>Tax Deducted:Rs{{ta | number:2}}</p>
            </div>
        </div>
    </div>
</body>
</html>
