<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<style>
  *{
    background-color: rgb(0, 0, 0);
    color: aliceblue;
  }
  input[type='text']{
    background-color: rgb(255, 255, 255);
    color: black;
  }
</style>
<body ng-app="a1" ng-controller="n1">
<div>
  <p>
    Search:<input type="text" ng-model="b1">
  </p>
  <ul>
    <li ng-repeat="i in names | filter:b1">
      {{ i }}
    </li>

  </ul>
</div>
<script>
angular.module('a1', []).controller('n1', function($scope) {
    $scope.names = [
        'Andhra Pradesh',
        'Arunachal Pradesh',
        'Assam',
        'Bihar',
        'Chhattisgarh',
        'Goa'
    ];

});
</script>
</body>
</html>